    <p>Welcome, <%= current_user.name %>! </p>

    <p>This is your dashboard as a doctor </p>

    <p>Here you can access all the links you need for your job. Check instructions below to perform operations </p>

    <div>

            <p>check patient list below.</p>

        <%= link_to "Patients", patients_path, class: "btn btn-primary" %>

    </div>

    <h3>Evolution of registered patients per day</h3>

    <div>
        <%= render 'shared/graph'%>
    </div>



