<div id="<%= dom_id(patient) %>" class="card">
  <div class="card-body">
    <div class="row">
      <div class="col-md-3">
        <strong>Name:</strong>
      </div>
      <div class="col-md-9">
        <%= patient.name %>
      </div>
    </div>

    <div class="row">
      <div class="col-md-3">
        <strong>Age:</strong>
      </div>
      <div class="col-md-9">
        <%= patient.age %>
      </div>
    </div>

    <div class="row">
      <div class="col-md-3">
        <strong>Symptom:</strong>
      </div>
      <div class="col-md-9">
        <%= patient.symptom %>
      </div>
    </div>
  </div>
</div>
