<h1>Search Results:</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Age</th>
      <th>Symptom</th>
    </tr>
  </thead>
  <tbody>
    <% @patients.each do |patient| %>
      <tr>
        <td><%= patient.name %></td>
        <td><%= patient.age %></td>
        <td><%= patient.symptom %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Back to patients', patients_path %>
